.toggle-switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 28px;
  margin-left: 2px;
  z-index: 1;
  isolation: isolate;
}


.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #336699;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: attr(data-yes);
  left: 0px;
  top: 0px;
  width: 28px;
  height: 28px;
  background-color: #6699cc;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch .switch::after {
  position: absolute;
  content: attr(data-no);
  left: 5px;
  top: 0px;
  width: 28px;
  height: 28px;
  /* background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease; */
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(37px);
  background-color: #000;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: hsla(45, 88%, 50%, 0.8);
}

@media (max-width: 600px) {
  .toggle-switch {
    width: 50px;
    height: 23px
  }

  .toggle-switch .switch::after {
    width: 23px;
    height: 23px;
  }

  .toggle-switch .switch::before {
    width: 23px;
    height: 23px;
  }

  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(28px);
  }
}
/* toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    margin: 0;
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: attr(data-yes);
      text-transform: uppercase;
      padding-left: 10px;
      background-color: #f90;
      color: #fff;
    }
  }
  &-disabled {
    background-color: #ddd;
    cursor: not-allowed;
    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: attr(data-no);
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }
  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 0px;
    }
  }
} */
